@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 padding: 0;
 margin: 0;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,span{
  width: auto;
}

.my-passon-bg-blur{
  --bg:rgb(4, 4, 63);
  background-image: radial-gradient(var(--bg), transparent, var(--bg),transparent,  var(--bg));
}

.passion-card{
  position: relative;
  background: #1b1b1b;
  border-radius: 5px;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.passion-card::after, .passion-card::before{
  content: '';
  position: absolute;
 inset: -3px;
  background:conic-gradient( from var(--angle),red,  yellow, rgb(75, 193, 75), red);
  z-index: -1;
  border-radius: 5px;
    animation: blur-effect 2s linear infinite;
}
.passion-card::before{
     filter: blur(20px);
}
@keyframes blur-effect  {
  from {
    --angle:0deg;
  }
  from {
    --angle:360deg;
  }
  
}


.project-bg-blur{
  height: max-content;
  background-image: radial-gradient(rgb(8, 8, 202), rgb(48, 4, 30), rgb(4, 4, 63),  rgb(2, 25, 80));
  --bg-color:rgb(8, 8, 202);
     background-image: conic-gradient(var(--bg-color) 0deg, transparent 30deg,transparent 60deg, var(--bg-color) 90deg, transparent 120deg, transparent 150deg,var(--bg-color) 180deg, transparent 210deg,transparent 240deg, var(--bg-color) 270deg, transparent 300deg,transparent 330deg, var(--bg-color) 360deg);
}


.project-card-wrapper{
  padding: 5px;
}
.project-card {
  background-color: #1b1b1b;
  position: relative;
}

.project-card::after{
  content: '';
  position: absolute;
 inset: -3px;
  background:conic-gradient(red,  yellow, green, red);
  z-index: -1;
  border-radius: 5px;
}





.color1{
  color: #94a3b8;
}

.contact-bg-blur{
   --bg:rgb(45, 4, 33);
  background-image: radial-gradient(var(--bg), transparent, var(--bg),transparent,  var(--bg));
}

.skill{
  --bg-color:#0a192f;
     background-image: conic-gradient(var(--bg-color) 0deg, transparent 30deg,transparent 60deg, var(--bg-color) 90deg, transparent 120deg, transparent 150deg,var(--bg-color) 180deg, transparent 210deg,transparent 240deg, var(--bg-color) 270deg, transparent 300deg,transparent 330deg, var(--bg-color) 360deg);
}
.experience{
  --bg-color:#1b1b1b;
     background-image: conic-gradient(var(--bg-color) 0deg, transparent 30deg,transparent 60deg, var(--bg-color) 90deg, transparent 120deg, transparent 150deg,var(--bg-color) 180deg, transparent 210deg,transparent 240deg, var(--bg-color) 270deg, transparent 300deg,transparent 330deg, var(--bg-color) 360deg);
}

.about{
  --bg-color:#0a192f;
     background-image: conic-gradient(var(--bg-color) 0deg, transparent 30deg,transparent 60deg, var(--bg-color) 90deg, transparent 120deg, transparent 150deg,var(--bg-color) 180deg, transparent 210deg,transparent 240deg, var(--bg-color) 270deg, transparent 300deg,transparent 330deg, var(--bg-color) 360deg);
}
.footer{
  --bg-color:#0a192f;
     background-image: conic-gradient(var(--bg-color) 0deg, transparent 30deg,transparent 60deg, var(--bg-color) 90deg, transparent 120deg, transparent 150deg,var(--bg-color) 180deg, transparent 210deg,transparent 240deg, var(--bg-color) 270deg, transparent 300deg,transparent 330deg, var(--bg-color) 360deg);
}



