@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 padding: 0;
 margin: 0;
  

}
*{
  box-sizing: border-box;
  /* text-align: center; */
}
h1,h2,h3,h4,span{
  width: auto;
}

.bakground-image-header{
  background: url("/cob_palace.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header-container{
  /* background: rgba(24, 71, 147, 0.8); */
  backdrop-filter:blur(40px);
  background: rgba(64, 90, 109, 0.7);
}
.my-passon-bg{
   background: url("/what_i_do.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.my-passon-bg-blur{
   background: rgba(0, 0, 0, 0.7);
  backdrop-filter:blur(2px);
}

.passion-wrapper>:nth-child(1){
  border-right: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
}
.passion-wrapper>:nth-child(4){
  border-top: 0.5px solid #fff;
  border-left: 0.5px solid #fff;
}

.project-bg{
   background: url("/project_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* filter: grayscale(5) ; */
}
.project-bg-blur{
  background: rgba(32, 33, 35, 0.7);
  backdrop-filter:blur(2px);
  height: max-content;
}

.comment-wrapper {
  background-color: #1b1b1b;
  backdrop-filter: blur(5px);
}

.color1{
  color: #94a3b8;
}
.contact-bg{
    background: url("/contact_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contact-bg-blur{
    background: rgba(32, 33, 35, 0.7);
    backdrop-filter:blur(2px);
}

.nav-item{
  color: #fff;
  transition: all 0.2s ease;
}
.nav-item:hover{
  color: #64ffda;
  transform:scale(1.05);
}
.letter-icon{
  color: #64ffda;
  /* border: 2px solid #64ffda; */
  animation: rotate_border 1000ms  ease-in infinite forwards ;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.letter-icon:hover{
  transform: scale(1.1);
}

@keyframes rotate_border {
   0%{
    border: 2px solid #282d42;
    border-left:2px solid #64ffda;
   }
    25%{
      border: 2px solid #282d42;
    border-top:2px solid #64ffda;
   }
   50%{
       border: 2px solid #282d42;
       border-right:2px solid #64ffda;
   }
    100%{
       border: 2px solid #282d42;
       border-bottom:2px solid #64ffda;
   }
  
}

@media (max-width:700px) {
  
  .passion-wrapper>:nth-child(1){
 border: 0;
}
.passion-wrapper>:nth-child(4){
  border: 0;
}
.my-passon-bg{
  background: #1b1b1b;
}
.my-passon-bg-blur{
   background: none;
  backdrop-filter:blur(0px);
}
}
